@media screen and (max-width: 1020px) {
  /* =================== KINDLE =================== */
  #Kindle {
    padding-right: 0px;
  }
  html {
    font-size: 40%;
  }
  .frente-kindle {
    max-width: 333px;
    width: 100%;
    padding: 0px;
    margin-right: 20px;
  }
  #descricao {
    margin-bottom: 50px;
  }
  #descricao h1 {
    margin-top: 0px;
  }
  /* ==================== FIM KINDLE ===================== */
  #muitoAlem .kindle-foto-2 {
    justify-content: flex-start !important;
    /* max-width: 333px; */
  }
  #caracteristicas-secundarias {
    max-width: 400px;
  }
}
@media screen and (max-width: 740px) {
  /* ================= kindle =================*/
  #Kindle {
    align-items: center;
    flex-direction: column;
  }
  .frente-kindle {
    margin-right: 0px;
    order: 1;
  }
  /* ================= fim kindle =================*/
  /* =================== cards ====================== */
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  /* ================= fim cards ===================*/
  /* ======================= muitoAlem ================== */
  #muitoAlemContainer {
    flex-direction: column;
    align-items: center;
  }
  #muitoAlem h1.titulo {
    text-align: center;
    margin-bottom: 10px;
  }
  #muitoAlem .kindle-foto-2 {
    justify-content: center !important;
    /* max-width: 333px; */
  }
  /* ======================  fim muitoAlem =================*/
  /* ================== capas ====================*/
  #capas p {
    font-weight: bold;
  }
  /* ================== fim capas ==================== */
  /* ========================= detalhes-tecnicos ======================= */
  #conteudoByAmazon {
    flex-direction: column;
  }
  #byAmazon {
    margin-top: 50px;
  }
  /* ========================= fim detalhes-tecnicos ======================= */
  /*  ================== slides  =====================*/
  .right {
    justify-content: center;
    align-items: center;
    text-align: center !important;
  }
  #LuzEmbutida p {
    text-align: center !important;
  }
  #Distracao {
    align-items: center;
    justify-content: center;
  }
  #Distracao .container-interno {
    width: 100%;
  }
  /* ====================== fim slides =====================  */
}
